!!! XML
%html
	%head
		%meta{ :charset => "utf-8" }
		%title Let's Strap
		%link{ :rel => "stylesheet", :href => "stylesheets/style.css" }
		%script{ :type => "javascript", :href => "javascripts/bootstrap-sprockets.js" }
		%script{ :type => "javascript", :href => "javascripts/bootstrap.js" }
		%script{ :type => "javascript", :href => "javascripts/bootstrap.min.js" }

	%body